/* You can add global styles to this file, and also import other style files */


body{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('./assets/img/montana.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.tituloClass{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: white;
}